Repository WLVerse/FlexEngine, pull requests merged in 2024-11, with the labels that each got.

#97 <Update> Freetype Text & basic cam movement
  FlexEngine/FlexEngine.vcxproj
  FlexEngine/FlexEngine.vcxproj.filters
  FlexEngine/openglfreetype.h
  FlexEngine/src/FlexEngine.h
  FlexEngine/src/FlexEngine/AssetManager/assetmanager.cpp
  FlexEngine/src/FlexEngine/AssetManager/assetmanager.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglcamera.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglcamera.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfreetype.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfreetype.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.h
  FlexEngine/src/FlexEngine/Renderer/alphabetstorage.h
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.cpp
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.h
  FlexEngine/src/FlexEngine/Wrapper/path.cpp
  MicroChess/MicroChess.vcxproj
  MicroChess/MicroChess.vcxproj.filters
  MicroChess/assets/shaders/freetypetext.frag
  MicroChess/assets/shaders/freetypetext.vert
  MicroChess/imgui.ini
  MicroChess/src/Components/rendering.cpp
  MicroChess/src/Components/rendering.h
  MicroChess/src/Layers/base.cpp
  MicroChess/src/Layers/overworld.cpp
  MicroChess/src/Renderer/sprite2d.cpp
Labels: core engine

#100 Basic profiler
  FlexEngine/FlexEngine.vcxproj
  FlexEngine/FlexEngine.vcxproj.filters
  FlexEngine/src/FlexEngine.h
  FlexEngine/src/FlexEngine/flexprofiler.cpp
  FlexEngine/src/FlexEngine/flexprofiler.h
  MicroChess/src/Layers/overworld.cpp
Labels: core engine

#101 Logger improvements
  FlexEngine/src/FlexEngine/AssetManager/assetmanager.cpp
  FlexEngine/src/FlexEngine/FlexECS/entity.cpp
  FlexEngine/src/FlexEngine/FlexECS/entity.inl
  FlexEngine/src/FlexEngine/FlexECS/scene.cpp
  FlexEngine/src/FlexEngine/flexlogger.cpp
  FlexEngine/src/FlexEngine/flexlogger.h
  MicroChess/imgui.ini
Labels: core engine, internal library, optimization

#102 meh animator
  .gitignore
  FlexEngine/FlexEngine.vcxproj
  FlexEngine/FlexEngine.vcxproj.filters
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglcamera.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglcamera.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.cpp
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.h
  MicroChess/MicroChess.vcxproj
  MicroChess/MicroChess.vcxproj.filters
  MicroChess/assets/Jack_Idle_Anim.aseprite
  MicroChess/assets/Renko_Idle_Left_Anim.aseprite
  MicroChess/assets/Renko_Run_Down_Anim.aseprite
  MicroChess/assets/adsdasd.txt
  MicroChess/assets/images/Grace_Idle_Attack_Anim_Sheet.png
  MicroChess/assets/images/Jack_Idle_Anim_Sheet.png
  MicroChess/assets/images/Renko_Idle_Relaxed_Right_Anim_Sheet.png
  MicroChess/assets/shaders/batch2.0.vert
  MicroChess/assets/shaders/batchtexture.frag
  MicroChess/assets/shaders/batchtexture.vert
  MicroChess/assets/shaders/spritesheet.frag
  MicroChess/assets/shaders/spritesheet.vert
  MicroChess/imgui.ini
  MicroChess/src/Components/rendering.cpp
  MicroChess/src/Components/rendering.h
  MicroChess/src/Layers/overworld.cpp
  MicroChess/src/Renderer/camera2d.cpp
  MicroChess/src/Renderer/camera2d.h
  MicroChess/src/Renderer/sprite2d.cpp
Labels: core engine

#110 Last min fix warnings <Yew Chong hurry>
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.cpp
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.h
  MicroChess/src/Editor/gameview.cpp
  MicroChess/src/Editor/sceneview.cpp
Labels: optimization

#127 <Update> Overhaul of camera system
  FlexEngine/FlexEngine.vcxproj
  FlexEngine/FlexEngine.vcxproj.filters
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
  FlexEngine/src/FlexEngine/Renderer/cameramanager.cpp
  FlexEngine/src/FlexEngine/Renderer/cameramanager.h
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.cpp
  FlexEngine/src/FlexEngine/Renderer/scenecamsorter.h
  MicroChess/demobattle2.flxscene
  MicroChess/demotown.flxscene
  MicroChess/imgui.ini
  MicroChess/m2demo.flxscene
  MicroChess/src/Components/rendering.cpp
  MicroChess/src/Components/rendering.h
  MicroChess/src/Editor/inspector.cpp
  MicroChess/src/Layers/base.cpp
  MicroChess/src/Layers/battle.cpp
  MicroChess/src/Layers/overworld.cpp
  MicroChess/src/Renderer/camera2d.cpp
  MicroChess/src/Renderer/camera2d.h
  MicroChess/src/Renderer/sprite2d.cpp
  MicroChess/src/Renderer/sprite2d.h
Labels: core engine

#145 Cleanup of graphics, no perspective cam contrary to branch name
  FlexEngine/FlexEngine.vcxproj
  FlexEngine/FlexEngine.vcxproj.filters
  FlexEngine/src/FlexEngine/AssetManager/assetmanager.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengldebugrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglframebuffer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglframebuffer.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglpostprocessing.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglpostprocessing.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.h
  FlexEngine/src/FlexEngine/Renderer/alphabetstorage.h
  FlexEngine/src/FlexEngine/Renderer/cameramanager.cpp
  FlexEngine/src/FlexEngine/Renderer/cameramanager.h
  MicroChess/m2demo.flxscene
  MicroChess/src/Components/rendering.cpp
  MicroChess/src/Components/rendering.h
  MicroChess/src/Editor/gameview.cpp
  MicroChess/src/Editor/sceneview.cpp
  MicroChess/src/Layers/battle.cpp
  MicroChess/src/Layers/board.cpp
  MicroChess/src/Layers/menu.cpp
  MicroChess/src/Layers/overworld.cpp
  MicroChess/src/Renderer/camera2d.cpp
  MicroChess/src/Renderer/camera2d.h
  MicroChess/src/Renderer/sprite2d.cpp
  MicroChess/src/Renderer/sprite2d.h
Labels: game engine

#163 Fixing cam
  ChronoDrift/ChronoDrift.vcxproj
  ChronoDrift/imgui.ini
  ChronoDrift/m2demo.flxscene
  ChronoDrift/src/Editor/editor.cpp
  ChronoDrift/src/Editor/editor.h
  ChronoDrift/src/Editor/hierarchyview.cpp
  ChronoDrift/src/Editor/inspector.cpp
  ChronoDrift/src/Editor/sceneview.cpp
  ChronoDrift/src/Editor/sceneview.h
  ChronoDrift/src/Layers/base.cpp
  ChronoDrift/src/Layers/base.h
  ChronoDrift/src/Layers/battle.cpp
  ChronoDrift/src/Layers/battle.h
  ChronoDrift/src/Layers/editorlayer.cpp
  ChronoDrift/src/Layers/editorlayer.h
  ChronoDrift/src/Layers/overworld.cpp
  ChronoDrift/src/Layers/overworld.h
  ChronoDrift/src/Renderer/camera2d.cpp
  ChronoDrift/src/Renderer/camera2d.h
  ChronoDrift/src/Renderer/sprite2d.cpp
  ChronoDrift/src/Renderer/sprite2d.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglfont.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglframebuffer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglframebuffer.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglpostprocessing.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglpostprocessing.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.h
  FlexEngine/src/FlexEngine/Renderer/cameramanager.cpp
  FlexEngine/src/FlexEngine/Renderer/cameramanager.h
  third_party/inc/glad/glad.h
Labels: core engine

#164 z index, animator -> (next task) bloom fix, dynamically allocated FrameBuffer
  ChronoDrift/ChronoDrift.vcxproj
  ChronoDrift/ChronoDrift.vcxproj.filters
  ChronoDrift/assets/shaders/batchtexture.vert
  ChronoDrift/m2demo.flxscene
  ChronoDrift/saves
  ChronoDrift/src/Components/rendering.cpp
  ChronoDrift/src/Components/rendering.h
  ChronoDrift/src/Layers/overworld.cpp
  ChronoDrift/src/Renderer/sprite2d.cpp
  ChronoDrift/src/Renderer/sprite2d.h
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.h
Labels: bug

#167 Button time
  ChronoDrift/imgui.ini
  ChronoDrift/m2demo.flxscene
  ChronoDrift/saves
  ChronoDrift/src/Components/rendering.cpp
  ChronoDrift/src/Components/rendering.h
  ChronoDrift/src/Editor/inspector.cpp
  ChronoDrift/src/Layers/overworld.cpp
  ChronoDrift/src/Renderer/sprite2d.cpp
  ChronoDrift/test.flxscene
  FlexEngine/src/FlexEngine/Renderer/OpenGL/openglspriterenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengltextrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/cameramanager.h
Labels: game engine

#172 M3 graphic
  ChronoDrift/imgui.ini
  ChronoDrift/m2demo.flxscene
  ChronoDrift/saves
  ChronoDrift/src/Components/rendering.h
  ChronoDrift/src/Editor/gameview.cpp
  ChronoDrift/src/Editor/sceneview.cpp
  ChronoDrift/src/Layers/editorlayer.cpp
  ChronoDrift/src/Renderer/sprite2d.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengldebugrenderer.cpp
  FlexEngine/src/FlexEngine/Renderer/OpenGL/opengldebugrenderer.h
Labels: bug
